@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your own custom component styles */
:root {
  --site-purple: #4e44c4;
}

.bg-site-purple {
  background-color: var(--site-purple);
}

.hover-bg-site-purple:hover {
  background-color: var(--site-purple);
}

.border-site-purple {
  border: var(--site-purple);
}

.height-max-content {
  height: max-content;
}
@media (min-width: 768px) {
  .calender-wrapper button.rdp-button_reset.rdp-button.rdp-day {
    margin: 5px 10px;
    border: 1px solid;
  }
}                    

.rdp-cell .rdp-day_selected:not([disabled]),
.rdp-day_selected:focus:not([disabled]),
.rdp-day_selected:active:not([disabled]),
.rdp-day_selected:hover:not([disabled]) {
  color: white;
  background-color: var(--site-purple);
}

/* category dropdown - react-select */
#categoryDropdown .categoryDropdown__control {
  height: 50px;
  border-radius: 0px;
  border-bottom: 1px solid #d1d5da;
}

#categoryDropdown .categoryDropdown__container {
  width: 100%;
}

/* form-input */
.input-group {
  width: 100%;
}
.input-group label {
  width: 300px;
}

.input-group input,
.input-group select {
  width: 100%;
}

.select-group label {
  width: 300px;
}

.select-group {
  width: 100%;
}

@media (max-width: 768px) {
  .calender-wrapper button.rdp-button_reset.rdp-button.rdp-day {
    margin: 3px 4px;
    border: 1px solid;
  }
} 