@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your own custom component styles */
:root {
  --site-purple: #4e44c4;
}

.bg-site-purple {
  background-color: var(--site-purple);
}

.height-max-content {
  height: max-content;
}

.calender-wrapper button.rdp-button_reset.rdp-button.rdp-day {
  margin: 3px 6px;
  border: 1px solid;
}
